body{
    margin: 0;
    padding: 0;
    color: #40514E;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1{ 
    font-size:90px;
    /* font-size: 562.9rem; */
    /* 16px=100%=1em
   90px=90*100/16; */
   color: #66BFBF;
   font-family: 'Sacramento', cursive;
}

h2{
    font-size:40px;
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
}

p{
    line-height: 2;
}
hr{
    border: dotted grey 6px;
    border-bottom: none;
    width: 5%;
    margin: 100px auto;
}

.top-intro {
    font-size: 24px;
    color: #66BFBF;
    font-weight: normal;
}

.top-container {
    background-color:#E4F9F5;
    position: relative;
    padding-top: 100px;
} 

 .middle-container{
    padding: 100px 0;
 }

 .bottom-container{
    background: #66BFBF;
    padding: 50px 0 20px;
 }

 a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
  }

  a:hover{
    color: #EAF6F6;
  }

 .intro{
    width: 45%;
    margin: auto;
 }

 .skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
  
 }

 .top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
 }

 .bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;
 }

 .code-img{
    width :40%;
    float: left;
    margin-right: 30px;
}

.computer-img{
    width: 40%;
    float: right;
}
 
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    border-radius: 15px;
    font-family: 'Merriweather', serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc48d);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc48d);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc48d);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc48d);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc48d);
    text-decoration: none;
  }

  .copyright{
     color: white;
     font-size: 15px;
     padding:15px 0;
  }